        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #288ac4;
        }

        #quiz-container {
            display: none;
            margin: 70px;
            width: 80%;
            max-width: 600px;
            background-color: #63b4dc;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            padding: 20px;
            box-sizing: border-box;
            text-align: center;
        }
        #start-container {
            color: #fff;

        }
        #question-container {
            margin-bottom: 20px;
            font-size: 30px;
            color: #01265e;
        }

        button {
            display: block;
            width: 100%;
            padding: 20px;
            margin: 10px 0;
            font-size: 20px;
            border: none;
            border-radius: 5px;
            background: linear-gradient(to bottom, #075589, #2980b9);
            color: #fff;
            cursor: pointer;
            transition: background 0.3s ease, transform 0.1s ease;
        }

        button:hover {
            background: linear-gradient(to bottom, #2980b9, #3498db);
            transform: scale(1.05);
        }

        button.correct {
            background: linear-gradient(to bottom, #2ecc71, #27ae60);
        }

        button.incorrect {
            background: linear-gradient(to bottom, #e74c3c, #c0392b);
        }

        button.next-question {
            background: linear-gradient(to bottom, #d2d564, #c2185b);
            color: #fff;
        }

        #summary {
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
        }
        header h1 {
            font-size: 50px;
            color: #fff;
            margin-top: 100px;
            text-align: center;
        }
        audio {
            width: 100%;
            max-width: 500px;
            margin: 20px 0;
        }
            @media only screen and (max-width: 600px) {
            header h1 {
            font-size: 30px; /* Adjust the font size for smaller screens */
            margin-top: 10vh
        }

        #quiz-container {
            width: 90%; /* Adjust the width for smaller screens */
            margin: 10px
         }
